name: Build and push Docker image
run-name: "Build and push Docker image for ${{ github.event_name }} on ${{ github.ref_name }} by ${{ github.actor }}"

on:
  push:
    tags: "**"
    branches: [main]

jobs:
  #   test:
  #     name: Running test workflow on ubuntu-latest
  #     uses: ./.github/workflows/test-template.yaml
  #     with:
  #       runs-on: ubuntu-latest

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out ${{ github.ref }} ${{ github.sha }}
        uses: actions/checkout@v3
      - name: Setup QEMU for Buildx
        uses: docker/setup-qemu-action@v2
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          file: ./Dockerfile
          build-args: |
            FROM_REPO=${{ github.repositoryUrl }}
            APP_VERSION=${{ github.ref_name }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/wonglao-frontend:${{ github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/wonglao-frontend:latest
